body {
    font-size: 13px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

h5 {
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #313131;
    margin: 0 0 14px 0;
}

h3 {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    color: #222529;
    margin: 0 0 20px 0;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    margin: 0 0 32px 0;
}


/*Module 10*/

.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    display: flex;
    padding-left: 100px;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s;
    width: 1500px;
}