.titleinput-login {
    color: #777777;
}

.input-login {
    width: 100%;
    background-color: #fff;
    color: #777777;
    padding: ;
}

.required {
    color: red;
    cursor: default;
    border: none;
}

body {}