.titleinput-login {
    color: #777777;
    margin-bottom: 15px;
    vertical-align: top;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.input-login {
    border: 1px solid red;
    outline: none;
    box-shadow: none;
    text-align: left;
    font-size: 0.85rem;
    vertical-align: middle;
    height: auto;
    width: 490px;
    background-color: #fff;
    color: #777777;
    padding: 8px 12px;
    height: auto;
}

p {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .14px;
}

.required {
    color: red;
    cursor: default;
    border: none;
}

.u-columns {
    padding-left: 300px;
    padding-top: 50px;
    width: 100%;
}

.u-columns1 {
    width: 490px;
}

.text-v-dark {
    color: #222529!important;
    font-weight: 600;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.formSignin {
    width: 490px;
}

.Login-Button {
    background-color: black;
    color: white;
    font-weight: bold;
}

.checkbox-login {
    position: relative;
    display: block;
    color: #777777;
}

body {}