   /*Module 20 21 Tai Em*/
   
   h3 {
       font: var(--porto-h3-fst, normal) 700 var(--porto-h3-fs, 1.8em)/var(--porto-h3-lh, 32px) "Poppins", sans-serif;
       color: var(--porto-h3-color, #222529);
       letter-spacing: var(--porto-h3-ls, -0.05em);
       margin-bottom: 20px;
   }
   
   body {
       margin: 0;
       font-family: Poppins, sans-serif;
       font-size: 0.875rem;
       font-weight: 400;
       line-height: 24px;
       color: #777;
       background-color: #fff;
       -webkit-text-size-adjust: 100%;
       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   .containerrr {
       width: 100%;
       padding-right: var(--bs-gutter-x, 10px);
       padding-left: var(--bs-gutter-x, 10px);
       margin-right: auto;
       margin-left: auto;
       max-width: none;
   }
   
   .row {
       --bs-gutter-x: 20px;
       --bs-gutter-y: 0;
       display: flex;
       flex-wrap: wrap;
       margin-top: calc(var(--bs-gutter-y) * -1);
       margin-right: calc(var(--bs-gutter-x) / -2);
       margin-left: calc(var(--bs-gutter-x) / -2);
   }
   
   .maincontent {
       padding-top: 35px;
       padding-bottom: 40px;
   }
   
   .content {}
   
   .align-left {
       text-align: left;
   }
   
   form {
       display: block;
       margin-top: 0em;
   }
   
   .textcontent {
       font-size: 22px;
       font-weight: 700;
       letter-spacing: -0.01em;
   }
   
   .form-row:not(.row) {
       display: block;
       margin-left: 0;
       margin-right: 0;
   }
   
   .form-row-wide {
       width: 100%;
   }
   
   .form-row {
       margin-bottom: 15px;
       vertical-align: top;
   }
   
   .form-row {
       display: flex;
       flex-wrap: wrap;
       margin-right: -5px;
       margin-left: -5px;
   }
   
   p,
   .porto-u-sub-heading {
       font-family: Poppins, sans-serif;
       font-weight: 400;
       font-size: 14px;
       line-height: 24px;
       letter-spacing: .14px;
   }
   
   p {
       margin: 0 0 1.25rem;
   }
   
   p {
       margin-top: 0;
       margin-bottom: 1rem;
   }