.icon-sections {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 1rem 0;
     margin: 0;
     border-right: 1px solid #e7e7e7;
     margin-right: -2px;
}

.icon-sections .icon-title {
     font-weight: 750;
}

.icon-sections h6 {
     font-size: 14;
     font-weight: 350;

}

.bg-watches {
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     background-color: rgba(0, 0, 0, 0);
     min-height: 175px;
     background-image: url(../images/bg-watch.png);
}

.bg-watches ::before {
     content: " ";
     display: table;
}

.bg-watches .pad-bg-watches {
     padding: 20px;
}

.bg-watches .title-watches {
     line-height: 1;
     font-size: 1.4rem;
     font-weight: 700;
}

.bg-watches .percent-watches {
     font-size: 1.7125rem;
     line-height: 1;
     font-weight: 800;
     color: #0088cc !important;
}

.bg-watches .percent-watches sup {
     padding: 0;
     margin: 0;
     display: inline-block;
     font-size: 70%;
     top: -0.3em;
}


.bg-watches .percent-watches del {
     color: #222529;
     padding: 0;
     margin: 0;
}

.btn-shop {
     color: #fff;
     background-color: #222529;
     border-color: #222529 #222529 #0b0c0e;
     text-transform: uppercase;
     font-size: 0.67rem;
     padding: 12 20 12 20;
     font-weight: 700;
}

.cl-deal {
     background-color: #0188cc;
}

 .bg-deal {
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     background-color: rgba(0, 0, 0, 0);
     min-height: 175px;
     border: #0088cc solid 15px;
     background-image: url(../images/bg-deal.png);
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}
.bg-deal .content-deal{
     display: flex;
     justify-content: center;
     align-items: center;
}
.bg-deal .content-deal .text-deal {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     padding-right: 10px;
}

.bg-deal .content-deal .text-deal h3{
     line-height: 1;
     font-size: 1.27rem;
     font-weight: 700;
}

.bg-deal .content-deal .text-deal h4{
     font-size: 0.7375rem;
    color: #777777;
    line-height: 0.75;
    font-weight: 700;
}

.bg-bag {
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     background-color: rgba(0, 0, 0, 0);
     min-height: 175px;
     
     background-image: url(../images/bg-bag.png);
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.bg-bag .content-bag{
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     padding-right: 20px;
}

.bg-bag .content-bag h3{
     line-height: 1;
     font-size: 1.37rem;
     font-weight: 700;
}

.bg-bag .content-bag h4{
     font-size: 0.7375rem;
     text-transform: uppercase;
     color: #ff7272;
     line-height: 0.75;
     font-weight: 700;
}
