.module-6 {
  background-color: #fbfbfb;
}

.pad-module {
  padding: 40px;
  margin: -20px;
}

/* .title-module::before{
  content: " ";
display: table;
} */

.title-module h3 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.title-module h3::before {
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  flex: 1;
  margin-right: 1em;
}

.title-module h3::after {
  content: '';
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  flex: 1;
  margin-left: 1em;
}

.image-item .labels {
  line-height: 1;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  top: 0.8em;
  font-size: 10px;
  margin-left: 8px;


}

.image-item .labels .onhot {
  background: #2ba968;
  color: #ffffff;
  width: 40px;
  border-radius: 100px;
  height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image-item .labels .onsale {
  background: #da5555;
  color: #ffffff;
  width: 40px;
  border-radius: 100px;
  margin-top: 6px;
  height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrap-selects{
  display: flex;
  justify-content: space-evenly;
  
}

.wrap-selects .btn-add-to-cart{
  background: #f4f4f4;
  padding: 10 20 10 20;
}

.wrap-selects .btn-add-to-cart a{
  text-transform: uppercase;
  color: #6f6e6b;
  font-size: 0.85em;
  display: flex;
  align-content: center;
  font-weight: 600;
  justify-content: center;
}
.wrap-selects .btn-add-to-cart a div{
  position: relative;
  bottom: 3px;
  right:  4px;
}

.wrap-selects .add-to-wishlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f4f4f4;
  color: #6f6e6b;
  width: 41px;
  height: 41px;
}

.wrap-selects .btn-add-to-cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrap-selects .quick-view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f4f4f4;
  color: #6f6e6b;
  width: 41px;
  height: 41px;
}

