.portoTotal {
    background-color: red;
}

.portocolrow {
    background-color: blue;
}

.portocolcol {
    background-color: green;
    al
}

.portoContainer {
    background-color: yellow;
}

.portotop {
    background-color: pink;
}

.portoheader {
    background-color: black;
}

.portodescription {
    background-color: white;
}