body {
    font-size: 13px;
    line-height: ;
}

.portoTotal {
    background-color: red;
}

.row {
    background-color: blue;
}

.vc_column_container {
    background-color: green;
}

.portoContainer {
    background-color: yellow;
}

.portotop {}

.portoTopicon {
    color: #0088cc;
    background: transparent;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    width: 76px;
    height: 76px;
    line-height: 76px;
    border-radius: 40px;
    font-size: 40px;
}

.portoheader {
    background-color: black;
}

.portodescription {
    background-color: white;
}