body {
    font-size: 13px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

.portoTotal {}

.container {}

.row {
    display: flex;
    flex-wrap: wrap;
}

.vc_column_container {}

.portoContainer {}

.portotop {}

.portoTopicon {
    padding-left: 150px;
    margin-bottom: 12px;
}

.porto-icon {
    color: #0088cc;
    background: transparent;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    width: 76px;
    height: 76px;
    line-height: 76px;
    border-radius: 40px;
    font-size: 40px;
}

.portoheader {
    text-align: center;
}

.portodescription {
    text-align: center;
}

.porto-siscon-top {
    text-align: center;
}

h3 {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    color: #222529;
    margin: 0 0 20px 0;
}

h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    margin: 0 0 32px 0;
}

.textop {
    color: #fff !important;
}

.custom_heading {
    font-weight: bolder;
}

.btn {
    color: #fff;
    background-color: red;
    border-color: #0e0f11 #0e0f11 #000;
}