.portoTotal {
    background-color: red;
}

.portocolrow {
    background-color: blue;
}

.portocolcol {
    background-color: green;
}

.portoContainer {}

background-color: red;
.portotop {}

.portoheader {}

.portodescription {}