.portoTotal {
    background-color: red;
}

.row {
    background-color: blue;
}

.vc_column_container col-md-4 {
    background-color: green;
}

.portoContainer {
    background-color: yellow;
}

.portotop {
    background-color: pink;
}

.portoheader {
    background-color: black;
}

.portodescription {
    background-color: white;
}