   /*Module 20 21 Tai Em*/
   
   body {
       margin: 0;
       font-family: Poppins, sans-serif;
       font-size: 0.875rem;
       font-weight: 400;
       line-height: 24px;
       color: #777;
       background-color: #fff;
       -webkit-text-size-adjust: 100%;
       -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }
   
   #main {
       position: relative;
       margin-left: auto;
       margin-right: auto;
       background: #fff;
   }
   
   .container {
       max-width: none;
   }
   
   .row {
       --bs-gutter-x: 20px;
       --bs-gutter-y: 0;
       display: flex;
       flex-wrap: wrap;
       margin-top: calc(var(--bs-gutter-y) * -1);
       margin-right: calc(var(--bs-gutter-x) / -2);
       margin-left: calc(var(--bs-gutter-x) / -2);
   }
   
   .main-content,
   .left-sidebar,
   .right-sidebar {
       padding-top: 0;
   }
   
   .main-content {
       padding-top: 35px px;
       padding-bottom: 40px;
   }
   
   .row>* {
       flex-shrink: 0;
       max-width: 100%;
       padding-right: calc(var(--bs-gutter-x) / 2);
       padding-left: calc(var(--bs-gutter-x) / 2);
       margin-top: var(--bs-gutter-y);
   }
   
   #login-form-popup .account-sub-title,
   .woocommerce-account .account-sub-title,
   .woocommerce-checkout .account-sub-title,
   .woocommerce-thankyou .account-sub-title {
       font-size: 22px;
       font-weight: 700;
       letter-spacing: -0.01em;
   }