.portoTotal {
    background-color: red;
}

.portocolrow {
    background-color: blue;
}

.portocolcol {
    background-color: gr
}

.portoContainer {}

.portotop {}

.portoheader {}

.portodescription {}