body {
    font-size: 13px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}

.portoTotal {}

.container {}

.row {
    display: flex;
    flex-wrap: wrap;
}

.vc_column_container {}

.portoContainer {}

.portotop {}

.portoTopicon {}

.porto-icon {
    color: #0088cc;
    background: transparent;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    width: 76px;
    height: 76px;
    line-height: 76px;
    border-radius: 40px;
    font-size: 40px;
    padding-left: 20px;
}

.portoheader {
    text-align: center;
}

.portodescription {
    text-align: center;
}

.porto-siscon-top {}

h3 {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    color: #222529;
    margin: 0 0 20px 0;
}