.module-6 {
  background-color: #fbfbfb;
}

.module-6 .pad-module {
  padding: 40px;
  /* margin: -20px; */
}


.module-6 .title-module h2 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.25em;
  letter-spacing: -0.04em;
  font-weight: 700;
  font-family: "Poppins",sans-serif;
  line-height: 1.4;
}

.module-6 .title-module h2::before {
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  flex: 1;
  margin-right: 1em;
}

.module-6 .title-module h2::after {
  content: '';
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  flex: 1;
  margin-left: 1em;
}

.module-6 .image-item .labels {
  line-height: 1;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  top: 0.8em;
  font-size: 10px;
  margin-left: 8px;


}

.module-6 .image-item .labels .onhot {
  background: #2ba968;
  color: #ffffff;
  width: 40px;
  border-radius: 100px;
  height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.module-6 .image-item .labels .onsale {
  background: #da5555;
  color: #ffffff;
  width: 40px;
  border-radius: 100px;
  margin-top: 6px;
  height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.module-6 .wrap-selects {
  display: flex;
  justify-content: center;
}

.module-6 .wrap-selects .btn-add-to-cart {
  background: #f4f4f4;
  padding: 10 20 10 20;
}

.module-6 .wrap-selects .btn-add-to-cart a {
  text-transform: uppercase;
  color: #6f6e6b;
  font-size: 0.85em;
  display: flex;
  align-content: center;
  font-weight: 600;
  justify-content: center;
}

.module-6 .wrap-selects .btn-add-to-cart a div {
  position: relative;
  bottom: 3px;
  right: 4px;
}

.module-6 .wrap-selects .add-to-wishlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f4f4f4;
  color: #6f6e6b;
  width: 41px;
  height: 41px;
}

.module-6 .wrap-selects .btn-add-to-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.module-6 .wrap-selects .quick-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f4f4f4;
  color: #6f6e6b;
  width: 41px;
  height: 41px;
}

.module-6 .product .star-item i {
  color: rgba(0, 0, 0, 0.16);
  font-size: 11px;
  margin-bottom: 9px;
}

.module-6 .tag-item {
  font-size: 0.75em;
  color: #afafaf;
  text-transform: uppercase;
  margin: 0px;
}

.module-6 .tag-item:hover {
  text-decoration: none;
  font-size: 0.75em;
  color: #0099e6;
  text-transform: uppercase;
}

.module-6 .name-item h3 {
  font-size: 1em;
  display: block;
  color: #4e5154;
  margin: 0px;
  margin-bottom: 6px;
}

.module-6 .name-item h3:hover,
.module-6 .name-item:hover {
  text-decoration: none;
  font-size: 1em;
  display: block;
  color: #0099e6;
}

.module-6 .image-item {
  margin-bottom: 15px;
}

.module-6 .price-item {
  font-size: 1.135em;
  font-weight: 600;
  margin-bottom: 13px;
}



.module-6 .product:hover .image-item {
  box-shadow: 0 25px 35px -5px rgb(0 0 0 / 10%);

}

.module-6 .product:hover .btn-add-to-cart {
  background: #0088cc;
  color: white;

}

.module-6 .product:hover .btn-add-to-cart a {
  background: #0088cc;
  color: white;
  text-decoration: none;
}

.module-6 .btn-add-to-cart:hover,
.module-6 .btn-add-to-cart:hover a {
  background: #2b2b2d !important;
  color: white !important;

}

.module-6 .add-to-wishlist{
  /* margin-right: -12px; */
  visibility: hidden;
  opacity: 0;
  transform: translate(11px);
  transition: visibility 0s, opacity 0.5s linear , transform 0.2s linear;
}
.module-6 .quick-view {
  /* margin-left: -12px; */
  visibility: hidden;
  opacity: 0;
  transform: translate(-11px);
  transition: visibility 0s, opacity 0.5s linear, transform 0.2s linear;
}

.module-6 .product:hover .quick-view{
  visibility: visible;
  opacity: 2;
  /* margin-left: 0px; */
  transform: translate(6px);
}
.module-6 .product:hover .add-to-wishlist{
  visibility: visible;
  opacity: 2;
  /* margin-right: 0px; */
  transform: translate(-6px);

}
